{% extends "base.html" %}

{% block title %}Text to Speech Service{% endblock %}

{% block content %}
    
    <form class="input" id="voice-form" method="POST">
        <h3 align="center">Text to Speech Service</h3>
        <div class="form-group">
            <label for="speech">Type something</label>
            <input type="text" class="form-control" id="speech" name="speech" placeholder="Write Here" required>
        </div>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Say it!</button>
        </div>
    </form>
        

{% endblock %}
